.cs-sidenav {
  order: 0;
}

@media (min-width: 768px) {
  .cs-sidenav {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 1000;
  }
}

.cs-sidenav a {
  color: #fff;
}

.cs-sidenav a.active {
  font-weight: bold;
}

@media (min-width: 768px) {
  .cs-sidenav>nav {
    display: block !important;
  }
}

.cs-content {
  order: 1;
}
